* {
  box-sizing: border-box;
}

@import url(font-awesome.min.css);
@import "https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400";




.function {
	display: block;
	margin: 80px 0px 40px 40px;
}

#logo {
	width: 500px;
	margin-left: auto;
	margin-right: auto;
} 
.avatar {
	float: left;
	width: 105px;
	height: 105px;
	border: 1px solid black;
	background-color: #F6FFCC;
}

#profile {
	display: inline-block;
	margin-left: 30px;
}

.child_function {
	margin-bottom: 20px;
	font-size: 20px;
	font-weight: 500;
}

.child_functionbox {
	margin-left: 15px;
}

.warning {
	color: #FF3636 !important;
	font-size: 12px;
	font-weight: 700;
}

#matchingbox {
	overflow: auto;
	width: 100%;
	height: 450px;
}

.matchingcard {
	float: left;
	margin-right: 70px; margin-bottom: 35px;
	padding: 10px;
	width: 250px;
	height: 375px;
	background-color: #F6FFCC;
	border: 2px solid black;
	position: relative;
}


.classname {
	height: 65px;
	text-align: left;
	font-size: 20px;
	font-weight: 600;
	color: #006579;

}

.matchingcardavatar {
	width: 120px;
	display: block;
	margin-left: auto; margin-right: auto;
}

.matchingcardlist {
	margin-top: 15px; margin-left: 35px; margin-bottom: 12px;
	text-align: left;
	font-size: 15px;
	font-weight: 600;
}

.matchingvalidtill {
	margin-bottom: 10px;
	text-align: center;
	font-weight: 700;
	font-size: 17px;
	color: #B70095;
}

.matchingcomplete {
	margin-bottom: 10px;
	text-align: center;
	font-weight: 700;
	font-size: 17px;
	color: #00B700;
}

.acceptbutton {
	position: absolute !important;
	left: 22px !important;
	height: 35px !important;
	width: 80px !important;
	color: #fff !important;
	font-weight: 600 !important;
	background-color: #2478FF !important;
	border-radius: 8px !important;
	cursor: pointer;
}

.acceptbutton:hover {
     box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.50);
}

.declinebutton {
	position: absolute !important;
	right: 22px !important;
	height: 35px !important;
	width: 80px !important;
	color: #fff !important;
	font-weight: 600 !important;
	background-color: #FF4848 !important;
	border-radius: 8px !important;
	cursor: pointer;
}

.declinebutton:hover {
     box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.50);
}

.waitingbutton {
	margin-left: auto !important; margin-right: auto !important;
	display: block !important;
	height: 35px !important;
	width: 160px !important;
	color: black !important;
	font-weight: 600 !important;
	background-color: #CFCFCF !important;
	border-radius: 8px !important;
}

.messagebutton {
	margin-left: auto !important; margin-right: auto !important;
	display: block !important;
	height: 35px !important;
	width: 160px !important;
	color: black !important;
	font-weight: 600 !important;
	background-color: #00B4DB !important;
	border-radius: 8px !important;
	cursor: pointer;
}

.messagebutton:hover {
     box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.50);
}

#changepsw_btn {
	margin-top: 20px;
	height: 35px;
	width: 160px;
	color: black;
	font-weight: 600;
	background-color: #909090;
	border-radius: 5px;
	cursor: pointer;
}

#changepsw_btn:hover {
     box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.50);
}

#changepsw {
	margin-top: 20px;
}

.pswconfirm_btn {
	height: 35px !important;
	width: 90px !important;
	color: black !important;
	font-weight: 600 !important;
	background-color: #489CFF !important;
	border-radius: 3px !important;
	cursor: pointer;
}

.pswconfirm_btn:hover {
     box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.50);
}

#byebye_btn {
	margin-top: 15px;
	height: 35px !important;
	width: 160px !important;
	color: #fff !important;
	font-weight: 600 !important;
	background-color: #363636 !important;
	border-radius: 5px !important;
	cursor: pointer;
}

#byebye_btn:hover {
     box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.50);
}

#byebye {
	margin-top: 20px;
}

#byeconfirm_btn {
	height: 35px !important;
	width: 90px !important;
	color: #fff !important;
	font-weight: 600 !important;
	background-color: #FF4848 !important;
	border-radius: 3px !important;
	cursor: pointer;
}

#byeconfirm_btn:hover {
     box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.50);
}

.faqquestion {
	font-weight: 700;
}